* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
  }

html, body{
    width:100%;
    overflow-x:hidden;
  }

body{
      background-color: orangered
  }

body .container {
    margin:30px  0  0 480px;

}

h1 {
    text-align: center;
    padding: 10px
}

input {
    width: 70% !important
}

.form-control {
    width:108%;
    margin-left:-10px
}

.btn {
    margin-top: 20px;
    margin-left:-10px
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    body .container {
        margin:0 40px;
    }

    .form-control {
        width:70%
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
 {
    body .container {
        margin:80px 230px;
    }

    .form-control {
        width:110%
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1336px)
 {
    body .container {
        margin:80px 230px;
    }

    .form-control {
        width:110%
    }
}